// _general.scss
html, body{
	font-size: 62.5%;
	font-family: $body-font;
	margin: 0;
	padding: 0;
}
h2{
	font-weight: 100;
	font-size: 2.6rem;
	letter-spacing: 7px;
	text-transform: uppercase;
	color: $primary;
	margin-top: 0;
}
footer{
	max-width: 920px;
	width: 920px;
	margin: 0 auto;
	text-align: center;
}
nav{
	max-width: 1100px;
	width: 100%;	
	height: 95px;
	margin: 0 auto;
	background: rgba(255,255,255,0.85);
	position: fixed;
	.logo{
		float: left;
		max-width: 50%;
		width: 50%;
		#logo_h{
			// position: absolute;
			max-width: 70%;
			padding-top: 15px;
			.svg_tl{
				// display: none;	
			}
		}

	}
	.menu-main-nav-container{
		float: right;
		max-width: 50%;
		width: 50%;
		padding-top: 35px;
		ul{
			margin: 0;
			padding: 0;
			li{
				float: left;
				display: inline;
				margin: 0;
				padding: 0;
				padding-right: 22px;
				a{
					font-family: $body-font;
					font-size: 1.4rem;
					font-weight: 300;
					font-style: italic;
					text-transform: uppercase;
					color: $primary;
					background: none;
					padding: 0;
					&:hover{
						color: $secondary;
						padding-bottom: 3px;
						border-bottom: 1px solid $secondary;
					}
				}
			}
			li:last-child {
				padding-right: 0;
			}
			li::after{
				content: "//";
				padding-left: 22px;
				margin-top: -2px;
				font-size: 1.7rem;
				color: $primary;
			}
			li:last-child::after{
				content: none;
			}
		}
	}
}
.wrapper{
	max-width: 1100px;
	margin: 0 auto;
	background-position: center center;
	background-size: cover;
}
.innerWrapper{
	max-width: 920px;
	// width: 920px;
	margin: 0 auto;
}
section{
	max-width: 920px;
	margin: 0 auto;
}
h1{
	margin: 0;
	padding: 0;
}
.hero{
	height: 370px;
	.tagline{
		padding-top: 170px;
		max-width: 50%;
		width: 50%;
		float: left;
		.barOne, .barTwo{
			margin-bottom: 20px;
			p{
				font-size: 2rem;
				font-weight: 100;
				font-style: italic;
				text-transform: uppercase;
				color: #fff;
				padding: 10px 0;
				margin: 0px;
				background: $secondary;
				display: inline;
				// -webkit-clip-path: polygon(0% 100%,75% 100%,85% -150%,0px 0px);
			}
		}
		.barOne{
			p{
				padding-left: 100px;
				padding-right: 80px;
			}
		}
		.barTwo{
			p{
				padding-left: 90px;
				padding-right: 50px;
			}
		}
	}
	.video{
		padding-top: 140px;
		max-width: 50%;
		width: 50%;
		float: left;
		#vidFrame{
			width: 460px;
		}
	}
}
.intro{
	font-size: 1.8rem;
	font-weight: 300;
	color: $grey;
	margin: 80px auto;
	p{
		margin: 0;
	}
}
.how{
	margin-bottom: 90px;
	.howItWorks{
		float: left;
		max-width: 60%;
		width: 60%;
		margin-right: 5%;
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style-type: none;
				border-bottom: 1px solid rgba(0,0,0,0.1);
				padding: 25px 0;
				.illustration{
					max-width: 33%;
					width: 33%;
					margin-right: 10%;
					float: left;
				}
				.description{
					font-size: 14px;
					font-weight: 300;
					color: $grey;
					max-width: 57%;
					width: 57%;
					float: left;
				}
			}
			li:first-child{
				border-top: 1px solid rgba(0,0,0,0.1);
			}
		}
	}
	.we{
		color: #fff;
		float: left;
		max-width: 35%;
		width: 35%;
		h2{
			color: #fff;
			margin: 0;
			margin-bottom: 8px;
			letter-spacing: 7.5px;
		}
		p{
			font-size: 1.3rem;
			font-weight: 100;
			letter-spacing: 0.6px;
			margin: 0;
		}
		.weAreIntro{
			padding-bottom: 5px;
		}
		.weAre{
			padding-top: 20px;
			background: $primary;
			h2,p{
				padding: 0 20px;
			}
			ul{
				margin: 0;
				padding: 0;
				li{
					list-style-type: none;
					padding: 10px 0;
					.description{
						float: left;
						width: 70%;
						text-transform: uppercase;
						font-weight: 100;
						p{
							letter-spacing: 1px;
						}
					}
					.illustration{
						float: right;
						width: 20%;
					}
				}
				li:nth-child(2n+1){
					background: #5cc1e5;
				}
			}
		}
		.weAreNot{
			padding: 20px;
			background: #889ea6;
			.weAreNotList{
				width: 90%;
				float: left;
				color: #fff;
			}
			.not{
				padding-top: 2px;
				width: 7%;
				float: right;
			}
			ul{
				margin: 0;
				padding: 0;
				li{
					list-style-type: none;
					padding: 8px 0;
					border-bottom: 1px solid #ccc;
				}
				li:last-child{
					border-bottom: none;
				}
				li:first-child{
					text-transform: uppercase;
				}
			}
		}
	}
}
.about{
	margin-bottom: 90px;
	.prLogo{
		float: left;
		max-width: 20%;
		width: 20%;
		img{
			width: 100%;
			height: auto;
			margin-left: -12px;
		}
	}
	.prCopy{
		font-size: 1.5rem;
		color: $grey;
		font-weight: 300;
		float: left;
		padding-top: 20px;
		margin-left: 5%;
		max-width: 75%;
		width: 75%;
	}
}
.partners{
	margin-bottom: 90px;
	ul{
		margin: 0;
		padding: 0;
		li{
			float: left;
			width: 25%;
			// color: #fff;
			// border-right: 1px solid #000;
		}
	}
}
.contact{
	margin-bottom: 90px;
		.cred{
		float: left;
		max-width: 50%;
		width: 50%;
	}
	.form{
		float: left;
		max-width: 50%;
		width: 50%;
	}
}
